<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HI</title>
</head>
<body>
    <header>
        <h1>김소희 / KIM SO HEE</h1>
    </header>

    <hr>
    <section>
        <p>📞 Contact</p>
        <p>- lloufrigpt@gmail.com</p>
        <br>
        <p>수상경력</p>
        <ol>
            <li>2021 융합콘텐츠 창업지원 - 경기콘텐츠진흥원 2021.05</li>
            <li>2021 경기도 대학생 융합기술 창업지원사업 - 차세대융합기술원 2021.04</li>
            <li>2021 SW창업공모전 우수팀 선정 - 단국대학교 SW중심대학사업단 2021.03</li>
        </ol>
        <br>

        <p>취미</p>
        <ul>
            <li>사진 촬영</li>
            <li>음악 감상</li>
            <li>유튜브</li>
        </ul>
   </section>

   <footer>
       info ...
   </footer>
</body>
</html>